bin/
build/
.gradle/
.metadata/

# Eclipse metadata is ignored, as Gradle generates them
.classpath
.project
.settings/

# Android
local.properties

# IDEA
.idea/
*.iml
/web/webapp/css/images/cnrdelete_all.png
