/**
 * Style for the header, navigation bar and the logo.
 * @author Ido
*/
.logo {
	height: 60px;
}

.logout {
	padding-left: 5px;
}

.logout a:link {
	text-decoration: none;
	color: #f55;
}

.logout a:visited {
	text-decoration: none;
	color: #f55;
}

.logodiv {
	height: 60px;
	display: table;
	margin: 0 auto;
}

#headContainer {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	border-bottom: solid;
	border-width: 1px;
	border-color: #999;
}

#menuLogo {
	float: left;
}

#nav li {
	display: table-cell;
	width: auto;
}

#nav ul {
	display: table;
	table-layout: fixed;
	padding: 0px;
	margin: 0;
}

#nav {
	display: table;
	margin: 0 auto;
}

#footer ul {
	list-style-type: none;
	display: inline;
	padding: 0px;
}

#footer ul li {
	display: table-cell;
	width: auto;
	padding: 5px;
}

#loggedin {
	right: 50px;
	position: absolute;
}

#headerWelcome {
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 5px 5px rgba(2, 2, 2, 0.25), inset 0 1px 1px
		rgba(255, 255, 255, 0.15);
	background-color: #eee;
}

#loggedin a {
	text-decoration: none;
}

#loggedin a {
	text-decoration: none;
}