@import "header.css";
@import "buttons.css";

body {
	font-family: Helvetica, Arial, sans;
	background: #FFFAFA;
	margin: 0;
}

header {
	margin: 0;
	padding-top: 1em;
	background: url(../css/images/Capture6.png) no-repeat rgba(255,255,255,0.4);
	background-size: 100%;
    background-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 10;
}

#content {
	margin: 3em;
	padding-left: 6em;
	padding-right: 6em;
	background-color: #FFFAFA;
}

.message {
	display: none;
	transition: background-color 0.5s, border-color 0.5s;
	/* subtle gradient */
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
	border-radius: 4px;
	border: 1px solid;
	padding: 1em;
	margin-bottom: 1em;
	width: auto;
	word-wrap: break-word;
}

.message_error {
	display: block;
	background-color: #fdd;
	border-color: #f66;
}

.message_ok {
	display: block;
	background-color: #dfd;
	border-color: #4b4;
}

#messageConstraint {
	width: auto%;
	display: inline-block;
}

.container {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
