@import "header.css";

@import "buttons.css";

body {
	font-family: Helvetica, Arial, sans;
	background: #FFFAFA;
	margin: 0;
}

header {
	margin: 0;
	padding-top: 1em;
	background: rgba(255, 255, 255, 0.4);
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 10;
}

#content {
	margin: 3em;
	background-color: #FFFAFA;
}

.message {
	display: none;
	transition: background-color 0.5s, border-color 0.5s;
	/* subtle gradient */
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
	border-radius: 4px;
	border: 1px solid;
	padding: 1em;
	margin-bottom: 1em;
	width: auto;
	word-wrap: break-word;
}

.message_error {
	display: block;
	background-color: #fdd;
	border-color: #f66;
}

.message_ok {
	display: block;
	background-color: #dfd;
	border-color: #4b4;
}

.messageConstraint {
	width: auto;
	display: inline-block;
}

.container {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

/* Loader animation, courtesy of https://github.com/padolsey/Sonic */
@
-webkit-keyframes loaderSprite {from { background-position:0px;
	
}

to {
	background-position: -510px;
}

}
@
-moz-keyframes loaderSprite {from { background-position:0px;
	
}

to {
	background-position: -510px;
}

}
@
keyframes loaderSprite {from { background-position:0px;
	
}

to {
	background-position: -510px;
}

}
.loader,.loader-adjacent {
	display: none;
	width: 30px;
	height: 30px;
	background-image: url("../css/images/loader.png");
	-webkit-animation: loaderSprite 0.5666666666666667s steps(17, end)
		infinite;
	-moz-animation: loaderSprite 0.5666666666666667s steps(17, end) infinite;
	animation: loaderSprite 0.5666666666666667s steps(17, end) infinite;
}

.loader-adjacent {
	position: absolute;
	top: 0;
	right: -40px;
}

@
-webkit-keyframes loaderSpriteLarge {from { background-position:0px;
	
}

to {
	background-position: -1700px;
}

}
@
-moz-keyframes loaderSpriteLarge {from { background-position:0px;
	
}

to {
	background-position: -1700px;
}

}
@
keyframes loaderSpriteLarge {from { background-position:0px;
	
}

to {
	background-position: -1700px;
}

}
.loader-large {
	display: none;
	width: 100px;
	height: 100px;
	background-image: url("../css/images/loader-large.png");
	-webkit-animation: loaderSpriteLarge 0.5666666666666667s steps(17, end)
		infinite;
	-moz-animation: loaderSpriteLarge 0.5666666666666667s steps(17, end)
		infinite;
	animation: loaderSpriteLarge 0.5666666666666667s steps(17, end) infinite;
}