@import "menu.css";

body {
	font-family: Helvetica, Arial, sans;
	
	background: #fff;
    margin: 0;
}
/*index centering*/
#center
{
    width: 50%; margin-left: auto; margin-right: auto;min-width: 60px; min-height: 60px;
}
#leftContent
{
    overflow: auto;
    float: left ; height: 100%;width:50%;min-width: 1px; min-height: 1px;
}
#rightLogin
{
  float: left ; height: 100%;width:50%; min-height: 1px;
}
header, footer {
	margin: 0;
	padding: 1em;
	background: #ccc;
}

#content {
	margin: 2em;
}

.registered_ard {
    border: 0px solid;
    border-radius: 4px;
    padding: 1em;
    margin: 1em;
    background-color: #88f;
    width: 200px;
}

.message {
	display: none;
    transition: background-color 0.5s, border-color 0.5s;
    /* subtle gradient */
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
    border-radius: 4px;
    border: 1px solid;
    padding: 1em;
    margin: 1em;
    min-width: 200px;
    width: 200px;
}

.message_error {
    background-color: #fdd;
    border-color: #f66;
}

.message_ok {
    background-color: #dfd;
    border-color: #4b4;
}

#logo{
	background:url(../css/images/OpticNavLogo.png) no-repeat;width:140px;height:40px;background-size: 100%;
}
#buttons{
	width:140px;height:40px;align:left;text-align:center;border:2px solid;
}
