#logo{
    background:url(../css/images/OpticNavLogo.png) no-repeat;
    width:220px;height:60px;background-size: 100%;
    margin: 0 auto;
}

#nav li {
    display: table-cell;
  width: auto;
}

#nav ul{
	width: 100%;
  display: table;
  table-layout: fixed;
  padding:0px;

}

#nav{
	margin-left:auto;
}

#footer ul{
 list-style-type: none;
 display: inline;
 padding: 0px;
}
#footer ul li{
 display: table-cell;
  width: auto;
 padding: 5px;
}
#footer{
	 bottom:0;vertical-align:middle;
}
/* header menu stuff*/
/*
    unindent it to look like a drop down menu http://jsfiddle.net/q7gFR/1/
*/
#cssmenu {
	width: 120px; float: left;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  padding: 0;
  margin: 0;
  line-height: 1;
  list-style-type: none;
  background: #C0C0C0;
  border-radius: 3px;
}
/*
    give the menu an area, it will disappear if the cursor is not in that area
*/
#cssmenu ul > li > a {
  display: block;
  padding: 15px 44px;
  position: relative;
  list-style-type: none;
}
/*
    hides the menu
*/
#cssmenu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  list-style-type: none;
}
/*
    shows the menu
*/
#cssmenu > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
  list-style-type: none;
  width: 200px;

}
/*
    menu area for the drop down menu
*/
#cssmenu > ul > li > ul {
  width: 200px;
  position: absolute;
  list-style-type: none;
  
}
#loggedin {
	float: right;
}
