/**
 * Style for the device manager page
 * @author Ido, Danny, Jacky
*/
#registerDeviceContainer {
	margin: 0px auto;
	padding-bottom: 50px;
}

.registered_ard {
	border: 0px solid;
	border-radius: 4px;
	padding: 1em;
	margin: 1em;
	background-color: #ccc;
	width: 200px;
}

#registerARD-form {
	width: 300px;
}

#device-remove {
	width: 150px;
}