#developers {
	float: right;
	overflow: hidden;
	display: inline-block;
	position: relative;
	padding: 10px;
}

#supportPage {
	position: relative;
	overflow: hidden;
	float: left;
}

#support {
	margin: 0px auto;
	width: 100%;
}