body {
	font-family: Helvetica, Arial, sans;
	
	background: #bbf;
}

.errorMessage, .successMessage {
	border: 2px solid;
	padding: 1em;
	margin: 1em;
	border-radius: 10px;
}

.ard {
	border-style:solid; 
	border-color:grey; 
	background-color:light-grey;
}

.errorMessage {
	background: #faa;
	border-color: #844;
}

.successMessage {
	background: #7CFC00;
	border-color: #008000;
}

.invisible {
	display: none;
}
