<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:mvc="http://www.springframework.org/schema/mvc"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
   <!-- Static resources are never fed through the Spring dispatcher servlet -->
   <mvc:resources location="/js/" mapping="/js/**" />
   <mvc:resources location="/css/" mapping="/css/**" />
   <mvc:resources location="/downloads/" mapping="/downloads/**" />
  
   <context:component-scan base-package="opticnav.web.controllers" />
   <mvc:annotation-driven />
   
   <mvc:interceptors>
        <bean class="opticnav.web.components.handlers.ViewNameInModelInterceptor" />
	    <mvc:interceptor>
	        <mvc:mapping path="/*"/>
	        <bean class="opticnav.web.components.handlers.UserHandlerInterceptor" />
	    </mvc:interceptor>
	</mvc:interceptors>
   
   	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="Messages"></property>
	</bean>
	
	<!-- Create a singleton bean that provides admin connections to ardd -->
	<bean id="ARDdAdminPool" class="opticnav.web.arddbrokerpool.ARDdAdminPool">
        <constructor-arg type="String"><value>${opticnav.daemon.manager.host}</value></constructor-arg>
        <constructor-arg type="int"><value>${opticnav.daemon.manager.port}</value></constructor-arg>
    </bean>
    
    <!-- Create a data source for connection to the database -->
    <bean id="dbDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    <property name="driverClassName" value="${opticnav.jdbc.driverClassName}"/>
	    <property name="url" value="${opticnav.jdbc.url}"/>
	    <property name="username" value="${opticnav.jdbc.username}"/>
	    <property name="password" value="${opticnav.jdbc.password}"/>
	</bean>
	
    <!-- Create a user session bean, scoped to session -->
	<bean id="userSession" class="opticnav.web.components.UserSessionImpl" scope="session">
	   <aop:scoped-proxy proxy-target-class="false" />
	</bean>
    
    <context:property-placeholder location="classpath*:*.properties" local-override="true" system-properties-mode="OVERRIDE" />
    
    <bean id="viewResolver"
    class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
            value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
</beans>
