<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>OpticNav</display-name>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/jspf/prelude.jspf</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>opticnav.web.i18n.Messages</param-value>
  </context-param>
  
  <context-param>
    <param-name>ARDdAdminHost</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>ARDdAdminPort</param-name>
    <param-value>8888</param-value>
  </context-param>
  
  <listener>
    <listener-class>opticnav.web.listeners.ARDdAdminServletContextListener</listener-class>
  </listener>
</web-app>